 #p{
               background-image: url('../assets/images/fani.gif');
               background-size: cover;
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
               font-size: 100px;
                font-weight: 900;
                 
         }

         #sc{
            background-image: url('../assets/images/f100.gif');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100vh;

          
         }
         .row{
              font-size: 50px;
             font-weight: 600;
  
         }

   #hisoka{
         /* background-image: url('../images/foter.gif');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center; */
            background-color: brown;
   }


#flashMsg{
    position: fixed;
    top: 120px;
    left: 40px;
    z-index: 9999;
    transition: opacity .5s ease;
}

      